.root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #8c8e92;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  text-align: center;
  padding: 30px 10px;
}

h1 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

img {
  border-radius: 10px;
}

p {
  font-family: var(--default-font-family);
  color: white;
  font-size: 24px;
  margin-top: 20px;
  line-height: 35px;
}


.logo {
  max-width: 150px;
}

.active {
  color: #b398f5 !important;
}

.nav-item {
  padding: 0 10px;
}

.content-container {
  margin: 50px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 68px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
  color: black;
  margin: 0;
}

.about-section h3 {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--heading-font-family);
  margin-bottom: 50px;
}

.about-section p {
  color: black;
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  font-family: var(--default-font-family);
  margin-bottom: 50px;
}

.menu p {
  color: black;
  font-size: 28px;
  font-weight: 500;
  margin: 20px;
  font-family: var(--default-font-family);
}

.follow-me {
  margin-top: 50px;
}

.follow-me i {
  padding: 10px;
}

.about-section {
  margin-bottom: 100px;
}

.about-section-description {
  margin: 80px 30px;
}

.about-section-description p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.contact-box {
  text-align: center;
  background-color: #d9e0f7;
  padding: 30px 120px;
  border-radius: 10px;
  margin: 100px;
}
.contact-box h4{
  font-size: 48px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: block;
}

.btn {
background-color: #6c63ff !important;
border-radius: 4px;
color: white !important;
font-size: 22px;
line-height: 30px;
padding: 50px, 30px;
margin: 0;
transition: all 100ms ease-in-out;

}

.btn:hover{
  color: black !important;
}

.social-link a{
  padding: 10px 14px;
  margin: 0 25px;
  color: #b398f5 !important;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  background-color: #d9e0f7 ;
  border-radius: 50%;
}

.social-link a:hover{
  color: #d9e0f7 !important;
  background-color: #b398f5;
  
}

footer .email-link{
  text-decoration: none;
  color: black;
  font-size: 25px;
}

footer .email-link:hover{
color: #b398f5 !important;
}

#coded-by {
margin-bottom: 50px;
font-size: 18px;
}


@media (max-width: 1000px) {
  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .about-section h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .about-section-description {
    margin: 30px;
  }

  .follow-me {
    margin-top: 10px;
  }

  .content-container h2 {
    font-size: 48px;
    line-height: 1;
  }
  .contact-box{
    margin: 40px 20px;
  }

  .contact-box h4{
    margin-left: 0px;
  }

  .btn{
    margin-right: 0px;
  }

   footer .email-link{
    margin-top: 50px;
    font-size: 22px;
  }

  #coded-by {
    font-size: 16px;
  }
  
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 13px;
    line-height: 1.5;
  }

  .about-section-description p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }


  .hero {
    padding: 20px 10px;
  }

  .menu p {
    color: black;
    font-size: 18px;
    line-height: 1;
    margin: 10px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .about-section h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .follow-me {
    margin-top: 20px;
  }

  .content-container h2 {
    font-size: 30px;
    line-height: 1;
  }

  footer .email-link{
    margin-top: 50px;
    font-size: 18px;
  }

  #coded-by {
    font-size: 12px;
  }
  
    
  }


